In [1]:
import pystare
import numpy
import pandas

In [2]:
r_earth = 6371007.181 
level = 1

# From Kuo 2017; Level 0

In [3]:
l = 8021*1000
a = l**2 #/ 2
a/1000/1000/1000/1000

64.336441

In [4]:
r = (10*1000*1000)/2
a = numpy.pi * r**2
a /1000 /1000 /1000/1000

78.53981633974482

# Making areas

In [5]:
def area2edge(area):
    return (area*2)**0.5

def area2radius(area):
    return (trixel_area/numpy.pi)**0.5

In [258]:
def meters(value):
    value = '{:2.2e}'.format(value)
    return r"\SI{" + str(value)+ r'}{\meter}'

def squaremeter(value):
    value = '{:2.2e}'.format(value)
    return r"\SI{" + str(value)+ r'}{\meter\squared}'

def days(value):
    return '{:2.2f} days'.format(value)

In [256]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 12 to 18
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Area            7 non-null      float64
 1   Edge            7 non-null      float64
 2   Area Naive      7 non-null      float64
 3   Edge Naive      7 non-null      float64
 4   Revisit Period  7 non-null      float64
 5   n Visits        7 non-null      float64
dtypes: float64(6)
memory usage: 692.0 bytes

In [216]:
pandas.set_option('display.float_format', '{:2,.2E}'.format)
pandas.set_option('display.float_format', '{:,.2f}'.format)
#pandas.reset_option('display.float_format')

In [259]:
earth_area = 4*numpy.pi * r_earth**2
data_duration = 8194

df = []
for level in [12, 13, 14,15,16,17, 18]:
    row = {}
    sid = pystare.from_latlon([37.64044018272276], [-119.01422186588556], level)
    row['Level'] = level
    row['Area'] = (pystare.to_area(sid) * r_earth**2)[0]
    row['Edge'] = area2edge(row['Area'])
    row['Area Naive'] = earth_area / 8 / (4**level)
    row['Edge Naive'] = area2edge(row['Area Naive'])
    row['Revisit Period'] = 500**2/row['Area']
    row['n Visits'] = data_duration / row['Revisit Period']
    df.append(row)
df = pandas.DataFrame(df)    
#df = df.round(2)
df = df.set_index('Level')
df

,Area,Edge,Area Naive,Edge Naive,Revisit Period,n Visits
Level,,,,,,
12,"5,111,779.35","3,197.43","3,800,285.02","2,756.91",0.05,"167,543.68"
13,"1,277,944.88","1,598.72","950,071.26","1,378.46",0.20,"41,885.92"
14,"319,486.22",799.36,"237,517.81",689.23,0.78,"10,471.48"
15,"79,871.55",399.68,"59,379.45",344.61,3.13,"2,617.87"
16,"19,967.89",199.84,"14,844.86",172.31,12.52,654.47
17,"4,991.97",99.92,"3,711.22",86.15,50.08,163.62
18,"1,247.99",49.96,927.80,43.08,200.32,40.90

In [260]:
df['Area'] = df['Area'].apply(squaremeter)
df['Edge'] = df['Edge'].apply(meters)
df['Area Naive'] = df['Area Naive'].apply(squaremeter)
df['Edge Naive'] = df['Edge Naive'].apply(meters)
df['Revisit Period'] = df['Revisit Period'].apply(days)
df.to_markdown('tab.md',index=True)

In [240]:
df

,Area,Edge,Area Naive,Edge Naive,Revisit Period,n Visits
Level,,,,,,
12,\SI{5.11e+06}{\meters\squared},\SI{3.20e+03}{\meters},\SI{3.80e+06}{\meters\squared},\SI{2.76e+03}{\meters},0.05 days,"167,543.68"
13,\SI{1.28e+06}{\meters\squared},\SI{1.60e+03}{\meters},\SI{9.50e+05}{\meters\squared},\SI{1.38e+03}{\meters},0.20 days,"41,885.92"
14,\SI{3.19e+05}{\meters\squared},\SI{7.99e+02}{\meters},\SI{2.38e+05}{\meters\squared},\SI{6.89e+02}{\meters},0.78 days,"10,471.48"
15,\SI{7.99e+04}{\meters\squared},\SI{4.00e+02}{\meters},\SI{5.94e+04}{\meters\squared},\SI{3.45e+02}{\meters},3.13 days,"2,617.87"
16,\SI{2.00e+04}{\meters\squared},\SI{2.00e+02}{\meters},\SI{1.48e+04}{\meters\squared},\SI{1.72e+02}{\meters},12.52 days,654.47
17,\SI{4.99e+03}{\meters\squared},\SI{9.99e+01}{\meters},\SI{3.71e+03}{\meters\squared},\SI{8.62e+01}{\meters},50.08 days,163.62
18,\SI{1.25e+03}{\meters\squared},\SI{5.00e+01}{\meters},\SI{9.28e+02}{\meters\squared},\SI{4.31e+01}{\meters},200.32 days,40.90

In [162]:
# Mission duration
md = 8194

In [48]:
# iFOV at NADIR
(500**2/4992)

50.080128205128204

In [29]:
# iFOV at 
5200*1500 / 79872

97.65625

In [35]:
md/97

84.47422680412372