In [1]:
import pystare
import numpy
import pandas

In [2]:
r_earth = 6371007.181 
level = 1

# From Kuo 2017; Level 0

In [3]:
l = 8021*1000
a = l**2 #/ 2
a/1000/1000/1000/1000

64.336441

In [4]:
r = (10*1000*1000)/2
a = numpy.pi * r**2
a /1000 /1000 /1000/1000

78.53981633974482

# Making areas

In [5]:
def area2edge(area):
    return (area*2)**0.5

def area2radius(area):
    return (trixel_area/numpy.pi)**0.5

In [128]:
def meters(value):
    value = '{:2e}'.format(value)
    return r"\SI{" + str(value)+ r'}{\meters}'

def squaremeter(value):
    return r"\SI{" + str(value)+ r'}{\meters\squared}'

In [129]:
pandas.set_option('display.float_format', '{:2,.2E}'.format)
#pandas.set_option('display.int_format', '{:g}'.format)

In [130]:
earth_area = 4*numpy.pi * r_earth**2
data_duration = 8194

df = []
for level in [12, 13, 14,15,16,17,18]:
    row = {}
    sid = pystare.from_latlon([37.64044018272276], [-119.01422186588556], level)
    row['Level'] = level
    row['Area'] = (pystare.to_area(sid) * r_earth**2)[0]
    row['Edge'] = area2edge(row['Area'])
    row['Area Naive'] = earth_area / 8 / (4**level)
    row['Edge Naive'] = area2edge(row['Area Naive'])
    row['Revist Rate'] = 500**2/row['Area']
    row['n Visits'] = data_duration / row['Revist Rate']
    df.append(row)
df = pandas.DataFrame(df)    

#df = df.astype(str)
df = df.set_index('Level')
df

          Area     Edge  Area Naive  Edge Naive  Revist Rate  n Visits
Level
12    5.11E+06 3.20E+03    3.80E+06    2.76E+03     4.89E-02  1.68E+05
13    1.28E+06 1.60E+03    9.50E+05    1.38E+03     1.96E-01  4.19E+04
14    3.19E+05 7.99E+02    2.38E+05    6.89E+02     7.83E-01  1.05E+04
15    7.99E+04 4.00E+02    5.94E+04    3.45E+02     3.13E+00  2.62E+03
16    2.00E+04 2.00E+02    1.48E+04    1.72E+02     1.25E+01  6.54E+02
17    4.99E+03 9.99E+01    3.71E+03    8.62E+01     5.01E+01  1.64E+02
18    1.25E+03 5.00E+01    9.28E+02    4.31E+01     2.00E+02  4.09E+01

In [131]:
df['Area'] = df['Area'].apply(squaremeter)
df['Edge'] = df['Edge'].apply(meters)
df['Area Naive'] = df['Area Naive'].apply(squaremeter)
df['Edge Naive'] = df['Edge Naive'].apply(meters)
df.to_markdown('tab.md',index=True)

In [30]:
# Mission duration
md = 8194

In [48]:
# iFOV at NADIR
(500**2/4992)

50.080128205128204

In [29]:
# iFOV at 
5200*1500 / 79872

97.65625

In [35]:
md/97

84.47422680412372